body{
    background-color:#AEC6CF;
}
.clear{
    clear:left;
}
.sscs{
   
    background-color: #AEC6CF;
    color: white;
    padding: 25px;
    float: left;
}
.container {
    margin: 0;
    width: auto;
    background-color: #AEC6CF;
  
}
.container2{
    width: 100%;
    background-color:#C6CFAE;
}
.search{
    background-color: #AEC6CF;
    color: black;
    padding: 25px;
}
.admin{
    min-height: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
table{
  margin: 10px 0;
}

