body{
    background-color:#C6CFAE;
}
.clear{
    clear:left;
}
.sscs{
   
    background-color: #AEC6CF;
    color: white;
    padding: 25px;
    float: left;
}
.container {
    margin: 0;
    width: auto;
    background-color: #AEC6CF;
  
}
.search{
    background-color: #AEC6CF;
    color: white;
    padding: 25px;
}
.column {
    background-color: #AEC6CF;
    float: left;
    padding: 25px;
    width: 200px;
    height: auto;
}
.distribute {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
